alias ll="ls -lahF"
alias mkdir="mkdir -p"
alias clear="clear && tput cup 0 0"
alias c="clear"
alias g="git"
alias grep="grep --color=auto"

#Shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias cddl="cd ~/Downloads"
alias cdyd="cd ~/Яндекс.Диск/"
alias cddoc="cd ~/Documents"
alias cddev="cd ~/dev"

#tools
alias scleanup="find . -type f \( -name '*.DS_Store' -o -name '._*' \) -ls"
alias cleanup="find . -type f \( -name '*.DS_Store' -o -name '._*' \) -ls -delete"

alias br="source ~/.bashrc"

#syncd
alias s="syncd"
