- name: Install Git with homebrew
  homebrew: name=git state=latest
  when: ansible_distribution == "MacOSX"
  tags:
    - brew
    - git
    - package-install

- name: Install Git
  apt: name=git state=latest
  when: ansible_distribution == "Ubuntu"
  tags:
    - git
    - package-install

- name: Create git directory
  file: path={{ git_dir }} state=directory mode=0755
  tags:
    - git

- name: Copy gitignore
  copy: src=.gitignore dest={{ env_dir }}/git/.gitignore
  tags:
    - git

- name: Copy .ps1 for git
  template: src=ps1.tpl dest={{ dotfiles_dir }}/.ps1
  tags:
    - git

- name: Copy gitconfig
  template: src=gitconfig.tpl dest=~/.gitconfig
  tags:
    - git

- name: Copy git-completion.bash
  copy: src=git-completion.bash dest={{ env_dir }}/git/git-completion.bash
  tags:
    - git

- name: Copy git-prompt.sh 
  copy: src=git-prompt.sh dest={{ env_dir }}/git/git-prompt.sh
  tags:
    - git
